<h1>Hi! Please confirm your email!</h1>

<p>Bonjour,</p>

<p>Merci de vous être inscrit sur Nathcrea. Veuillez confirmer votre adresse email en cliquant sur le lien suivant :</p>

<a href="{{ signedUrl }}">{{ signedUrl }}</a>

<p>Ce lien expirera dans</p>
<p>Si vous n'avez pas créé ce compte, veuillez ignorer cet email.</p>
