<p>Bonjour
	{{ user.firstName }},</p>

<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>

<p>
	<a href="{{ url }}">Réinitialiser mon mot de passe</a>
</p>

<p>Ce lien est valide pendant 1 heure.</p>

<p>Si vous n'avez pas demandé de réinitialisation, ignorez cet email.</p>
